.blog__section {
  padding: 0;
}


.blog__main {
  display: flex;
  flex-direction: row;
  padding: 3em;
  
  .blog__posts {
    order: 1;
    
    article {
      background: $color-7;
    }
    
    @include mx-desktop {
      order: 2;
    }
  }
  
  .blog__sidebar {
    order: 2;

    @include mx-desktop {
      order: 1;
      margin-bottom: 2em !important; 
    }
  }
  
  @include mx-desktop {
    flex-direction: column;
    padding-top: 0;
  }

 .et_pb_ajax_pagination_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: space-evenly;
  }
  
   @supports (-ms-flow-from: thingy) {
    .et_pb_ajax_pagination_container {
      justify-content: space-around;
    }
  }
  
  .et_pb_post {
    max-width: 1024px;
    border: solid 3px $color-7;
    color: $color-1;
    
    @include mx-tablet {
      max-width: 100%;
    }
  }
  
  .entry-title {
    @include rfs($font-size-xl);
    padding: .75rem 1.75rem;
    text-transform: uppercase;
  }
  
  .post-meta {
    color: $color-2 !important;
    font-family: $font-stack-sans-alt;
    font-weight: bold;
    padding: 1.75rem 6% 0 6%;
    text-transform: uppercase;
  }
  
  .post-content {
    padding: 0 1.75rem 1.75rem; 
    p {
      color: $color-2;
    }
  } 

}

