.form-tour {
  @include gform-wireframe($color-7, $color-2, 2px, 0, $color-2, $color-2, $color-7, center);
  @include gform-unmargin;
  margin-right: 2em;
  @include mx-desktop {
    margin: 0 auto 30px auto !important;
  }
}

.ui-datepicker-trigger {
  display: none;
}

.datepicker {
  width: 100% !important;
}

// GF select field with advanced functionality enabled

.schedule-a-tour-form a.chosen-single {
  background: transparent !important;
  border: none !important;
  color: $color-2 !important;
  @include rfs($font-size-lg);
  font-weight: normal;
  box-shadow: none !important;
}

.chosen-container {
  background: $color-7;
  border: solid 2px $color-2;
  padding: .7rem;
  text-transform: uppercase;
}

.form-tour .chosen-drop .chosen-search {
  background: $color-7;
}
.form-tour .chosen-drop .chose-search .chosen-search-input {
  border: solid 1px $color-2;
}

ul.chosen-results {
  @include rfs($font-size-lg);
  color: $color-2 !important;
  background: $color-7
}

ul.chosen-results li.highlighted {
  background-image: none !important;
  background: $color-1 !important;
}