

#main-header .container {
  width: 100%;
}

#et-top-navigation {
  @include mx-desktop {
    float: left;
    padding-left: 0;
    margin-left: 20px;
  }
}

.mobile-menu__apply {
  display: none;
  @include mx-desktop {
    display: block;
    float: right;
    height: 80px;
    background: $mobile-menu-bg;
    color: $mobile-menu-link-color;
    padding: 1.5em;
    text-align: center;
    text-transform: uppercase;
    a {
      vertical-align: middle;
    }
  }
}

.mobile-menu__phone {
  display: none;
  @include mx-desktop {
    display: block;
    float: right;
    color: $mobile-menu-link-color;
    padding: 1.5em;
  }  
}

.mobile_menu_bar:before {
  color: $color-contrast;
}

#mobile_menu li.menu-item-has-children > a {
  display: none;
}

#mobile_menu li li {
  padding-left: 0;
}

#mobile_menu li.current-menu-item {
  background: $mobile-menu-active-link-bg;
}