
// NOTE: Divi sets top menu padding below links and above et-top-navigation by taking 
//      the theme customizer menu height and dividing in half assigning half to padding above
//      et-top-navigation and half below the <a> tags in the menu


// any additional padding added to menu links, will affect menu height and requires offset
$additional-menu-link-padding: 20px;

#et-top-navigation {
  @include mn-desktop {
    padding-top: ($main-menu-height / 2) - $additional-menu-link-padding !important;    
  }
} 

#main-header .et_menu_container {
  @include menu-desktop {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

#top-menu {
 
  // .mobile-menu__logo {
  //   display: none;
  // }
   
  li a {
    // @include rfs($font-size-sm);
    @include menu-wide {
      font-size: $font-size-sm;
    }
    @include menu-desktop {
      font-size: .75rem;
    }
    @include menu-small {
      font-size: $font-size-xs;
    }
    @include menu-extra-small {
      font-size: .6rem;
    }
    transition: none;
    padding-bottom: $main-menu-height / 2 !important;
    &:hover {
      color: $menu-link-hover-color;
      opacity: 1 !important;
    }
    
  }
  .menu__link--standout a {
    padding: $additional-menu-link-padding;
    background: $menu-link-standout-bg;
  }
  .sub-menu li:hover {
    background: $dropdown-link-hover-bg;
    
    a:hover {
      color: $dropdown-link-hover-color !important;
      opacity: 1;
    }
  }
}

.mobile-menu__logo {
  width: 90%;
  margin: auto;
  padding: 10px 0 0;
}

.mobile_nav {
  display: block;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  opacity: 1;
  @include bring-front;
  
  @at-root #{&}.closed {
    position: static;
    width: 0;
    height: 0;
  }
  
  #mobile_menu.et_mobile_menu {
    display: block;
    border: none;
    padding: 0;
    color: $mobile-menu-link-color;
    background: $mobile-menu-bg;
    height: 100vh;
    width: 50%;
    position: fixed;
    top: 0;
    text-align: center;
    transform: translateX(-100%);
    @at-root .slide--in {
      animation: slide-in .8s forwards;
    }
    @at-root .slide--out {
      animation: slide-out .8s forwards;
    }
    
    li a {
      color: $mobile-menu-link-color;
    }
  }
}


// X menu button when mobile menu open
.mobile_nav.opened .mobile_menu_bar:before {
    content: '\00d7';
    color: $dropdown-link-hover-color;
    font-size: 55px;
    font-weight: $font-weight-bold;
    position: absolute;
    left: 55%;
    transition: ease-in-out .8s;
    z-index: 100;
}

// dark translucent background overlay on open
.mobile_nav.opened .mobile_menu_bar:after {
      content: '';
      width: 100vw;
      height: 100vh;
      position: fixed;
      @include z-bottom;
      top: 0;
      transform: translateX(0%);
      background: rgba(0,0,0,.8);
      opacity: 1;
      transition: ease-in-out .5s;
}

// dark translucent background overlay on close
.mobile_nav.closed .mobile_menu_bar:after {
      content: '';
      width: 100vw;
      height: 100vh;
      position: fixed;
      @include z-bottom;
      top: 0;
      transform: translateX(calc(-100vw - 30px));
      background: rgba(0,0,0,.8);
      opacity: 0;
      transition: ease-in-out .5s;
}
