

// ---- CHANGE THESE PERCENTAGES TO CHANGE GLOBAL GRADIENT APPEARANCE ----
$darker-change: 30%!default;
$lighter-change: 20%!default;

// ---- CHANGE THESE COLORS TO MATCH BRAND GUIDE -----

$color-contrast: white!default;
$color-1: #455B57!default;
$color-2: #ACA865!default;
$color-3: #8AA8A3!default;
$color-4: #5A857C!default;
$color-5: #7C7D7C!default;
$color-6: #DE8636!default;
$color-7: #424140!default;

$color-dark: $color-2;
$color-light: $color-contrast;
$color-mute: $color-3!default;


// ---- CHANGE THESE FLAGS DEPENDING ON THE BRAND COLORS ----
$color-1-is-light: true!default;
$color-2-is-light: true!default;
$color-contrast-is-light: true!default;

$color-1-darker: darken($color-1, $darker-change);
$color-1-lighter: lighten($color-1, $lighter-change);
$color-2-darker: darken($color-2, $darker-change);
$color-2-lighter: lighten($color-2, $lighter-change);

$heading-color: $color-7!default;
$subhead-color: $color-2!default;

$font-color: $color-7!default;
$font-color-alt: $color-1!default;
$font-color-light: $color-2!default;
