//----Fixed layout sizes 

// main-menu-height overrides values set in the theme customizer to allow for more detailed customization
$main-menu-height: 40px !default;
$top-menu-height: 40px !default;
$content-max-width: 1080px !default;
